<h1>Add Photographer</h1>
<%= form_for(@photographer) do |f| %>
    <%= render(:partial => 'photographer_fields', :locals => {:f => f}) %>
    <%= f.submit %><br>
    <%= back_to_photos_list %>
<% end %>
