<% if object.errors.any? %>
  <div id="err">
    <h3><%= pluralize(object.errors.size, "error") %> found:</h3>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>